<table><tr>
  <td>
    <div id = "panel">
      <div id = "red"></div>
      <div id = "orange"></div>
      <div id = "yellow"></div>
      <div id = "green"></div>
      <div id = "blue"></div>
      <div id = "purple"></div>
      <div id = "brown"></div>
      <div id = "black"></div>
      <div id = "white"></div>
    </div>
  </td>
  <td>
    <canvas id = "board" width = "1000" height = "1000">Get a modern browser, headass!</canvas>
  </td>
</tr></table>
<script src = "/js/draw.js"></script>