<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "/css/root.css">
    <link rel = "stylesheet" href = "/css/header.css">
    <link rel = "stylesheet" href = "/css/content.css">
    <% if defined? stylesheet %>
    <link rel = "stylesheet" href = "/css/<%= stylesheet %>.css">
    <% end %>
    <meta name = "viewport" content = "width=device-width">
    <meta encoding = "UTF-8">
    <title><%= title %></title>
  </head>
  <body>
    <div id = "header">
      <a href = "/"><img src = "/img/logo.png"></a>
      <div id = "links">
        <a href = "/">Home</a>
        <a href = "/chat">Chat</a>
        <a href = "/games">Games</a>
      </div>
      <a id = "login" href = "/login">
        <!--Placeholder login image-->
        <svg width = "1.5em", height = "1.5em" viewbox = "0 0 100 100">
          <circle cx = "50" cy = "50" r = "33"/>
          <polygon points = "50, 50 100, 100 0, 100"/>
        </svg>
      </a>
    </div>
    <div id = "border_bottom"></div>
    <div id = "border_bottom_transition"></div>
    <script src = "/js/header.js"></script>
    <div id = "content">
      <%= yield %>
    </div>
  </body>
</html>