/* #header */

#header{
  background-color: var(--header-color);
  position: sticky;
  top: 0px;
  padding: 0.75em 10%;
}

#header a{
  text-decoration: none;
}

#header a img{
  display: inline-block;
  height: 1.5em;
}

/* #header #links */

#header #links{
  width: 25%;
  display: inline-block;
  margin-left: 25%;
}

#header #links a{
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--font-family);
  transition: color 0.5s;
  font-size: 1.5em;
  width: 32%;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

#header #links a:hover{
  color: grey;
  transition: color 0.5s;
}