/* #header */

#header{
  background-color: var(--header-color);
  position: sticky;
  top: 0px;
  padding: 0.75em 10%;
}

#header a{
  text-decoration: none;
}

#header a img{
  display: inline-block;
  height: 1.5em;
}

/* #header #links */

#header #links{
  display: inline-block;
}

#header #links a{
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--font-family);
  transition: color 1s;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin-left: 1em;
}

#header #links a:hover{
  color: var(--accent-color);
  transition: color 1s;
}

/* #login */

#login{
  float: right;
  border: 0.125em solid var(--font-color);
  padding: 0;
  border-radius: 100%;
  height: 1.5em;
  transition: border 1s;
}

#login:hover{
  border-color: var(--accent-color);
  transition: border-color 1s;
}

#login svg{
  height: 1.5em;
  fill: var(--font-color);
  transition: fill 1s;
  border-radius: 100%;
}

#login svg:hover{
  fill: var(--accent-color);
  transition: fill 1s;
}

/* #border_bottom */

#border_bottom, #border_bottom_transition{
  width: 100%;
  height: 0.5em;
  background-color: var(--font-color);
  position: fixed;
  top: 3em;
}

#border_bottom_transition{
  opacity: 0;
  transition: opacity 1s;
}

#header:hover ~ #border_bottom_transition{
  opacity: 1;
  transition: opacity 1s;
}