@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  
  /* variables */

  --header-color: #2d343a;
  --background-color: #384048;
  --accent-color: yellow;
  --font-color: #c0c2c4;
  --font-family: 'Roboto', sans-serif;
}